body{
	background-image: url(tex1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
form{
	background-color:rgb(0, 0, 0,.5);
	margin-left:35%;
	margin-top: 5%;
	margin-right: 35%;
	border-radius: 15px;
	margin-bottom: 1%;
}
input{
margin-left: 16%;
	border:none;
	border-bottom: 5px solid white;
	background:transparent;
	text-align: center;
	width:300px;
	color: rgb(221, 255, 0);
	height:30px;
    color:black;
    border-radius: 8px;
    margin-bottom: 10%;
}
h1{
	color:white;
	padding: 10%;
	padding-left: 25%;
}
#submit{
	background-color: rgb(0, 191, 255);
	border-bottom: 5px solid yellow;
	position: absolute;
	margin-left: 5%;
	margin-bottom:0;
}
input:hover{
	background-color: rgb(240, 255, 142);
}
::-webkit-input-placeholder{
color: rgb(10, 255, 91);
};
::-moz-input-placeholder{
color: rgb(10, 255, 91);
};
::-ms-input-placeholder{
color: rgb(10, 255, 91);
};